* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;

}
body {
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: center;
    

}